[submodule "run_on_benchmark/insight-bench"]
	path = run_on_benchmark/insight-bench
	url = https://github.com/ServiceNow/insight-bench
	branch = overhaul
[submodule "run_on_benchmark/daco"]
	path = run_on_benchmark/daco
	url = https://github.com/shirley-wu/daco
[submodule "run_on_benchmark/agent-poirot"]
	path = run_on_benchmark/agent-poirot
	url = https://github.com/ServiceNow/agent-poirot.git
